<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="container">
  <div class="clearfix pt-4">
    <p class="float-end">
      <a href="javascript:;" class="btn change" routerLinkActive="active" routerLink="/Search">Search</a>
      <a href="javascript:;" class="btn change" routerLinkActive="active" routerLink="/booking">My Bookings</a>
    </p>
  </div>
  <router-outlet></router-outlet>
  <!-- <p style="text-align:center"><a target="_blank"
      href="http://localhost:3022/searchin?keyword=Coffee&distance=16093&category=Default&lat=37.4223878&lng=-122.0841877">Link</a>
  </p> -->
</div>